body{
    color: white;
}

.about_heading{
  display:flex; 
  justify-content: left;
  font-family: 'Cordova';
  margin-bottom: 48px;
  margin-left: 24%;
}

.about_content{
    display: flex;
    justify-content: left;
    margin-left: 24%;
    margin-right: 24%;
    font-size: 1.3rem;
    font-family: Lucida Fax;
    font-weight: 300;
    margin-bottom: 37px;
    color: rgba(255, 255, 255, 0.86);
}

.nowClick {
    text-decoration: underline;
    color:rgb(50, 50, 255);
}

.nowClick:hover{
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .about_content{
        display: flex;
        justify-content: left;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1.3rem;
        font-family: Lucida Fax;
        font-weight: 300;
        margin-bottom: 37px;
        color: rgba(255, 255, 255, 0.86);
    }
    .about_heading{
      display:flex; 
      justify-content: left;
      font-family: 'Cordova';
      margin-bottom: 48px;
      margin-left: 10%;
    }
}